body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(#04519b, #044687 60%, #033769);
}

.navbar a {
    color: white;
}

.navbar>.navbar-nav li:hover li {
    color: white !important;
    background: linear-gradient(#033769, #044687 60%, #04519b) !important;
}

.dropdown-menu {
    background: linear-gradient(#04519b, #044687 60%, #033769);
}

.dropdown-menu a {
    color: white !important;
}

.dropdown-menu a:hover {
    background: linear-gradient(#033769, #044687 60%, #04519b);
}

.icon-bar {
    background: white;
}

.navbar .container-fluid .navbar-collapse .nav li a:hover {
    background: linear-gradient(#044687, #04519b 60%, #04619b);
    color: white;
}

.navbar .container-fluid .navbar-collapse .nav li a:focus {
    background: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
}

.active {
    background: linear-gradient(#044687, #033769 60%, rgb(4, 88, 139));
    color: white;
    font-size: 20px;
}

.row2 {
    border: 3px double black;
    border-radius: 10px;
    background: #f1f1f1;
    padding: 5px;
    margin-bottom: 50px !important;
}

textarea {
    resize: none;
}

h2 {
    text-decoration: underline;
}

th {
    background: black !important;
    color: white !important;
}

.input {
    width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#strong {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

select {
    width: 35%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
@media screen and (max-width: 990px) {
    .table-responsive {
        max-height: 40vh !important;
        overflow-y: auto !important;
    }
}